<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="FHIRInsight.ZPM">
    <Module>
      <Name>FHIRInsight</Name>
      <Version>0.0.1</Version>
      <Description>Converts FHIR blood test data into a comprehensive, easy-to-understand analysis report.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.FHIRInsight.PKG"/>
    </Module>
  </Document>
</Export>
