<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="FHIRInsight.ZPM">
    <Module>
      <Name>FHIRInsight</Name>
      <Version>0.0.8</Version>
      <Description>Converts FHIR blood test data into a comprehensive, easy-to-understand analysis report.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <UnitTest Name="/tests" Package="dc.FHIRInsight.unittests" Phase="test"/>
      <Resource Name="dc.FHIRInsight.PKG"/>
      <CSPApplication CookiePath="/FHIRInsight/" DefaultTimeout="900" DispatchClass="dc.FHIRInsight.api.disp" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="0" Url="/FHIRInsight" UseSessionCookie="2"/>
      <Invokes>
          <Invoke Class="dc.FHIRInsight.Utils" Method="StartProduction">
          </Invoke>
      </Invokes>
    </Module>
  </Document>
</Export>
